####################################
# Python / FastAPI
####################################
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
env/
*/venv/
*/.venv/
*/env/

####################################
# .NET / ASP.NET Core
####################################
# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.rsuser

# Rider / VS caches
.idea/
.vs/

# NuGet
*.nupkg
.nuget/
packages/

####################################
# ASP.NET Core secrets
####################################
appsettings.Development.json
appsettings.*.Development.json
secrets.json

####################################
# IDE / Editors
####################################
.vscode/

####################################
# OS junk
####################################
.DS_Store
Thumbs.db

####################################
# Docker
####################################
*.log
**/Dockerfile~
**/docker-compose.yml~

####################################
# AI / Medical data
####################################
*.onnx
*.h5
*.pb
*.pt

*.dcm
*.dicom
*.nii
*.nii.gz

####################################
# Env / Secrets
####################################
.env
.env.local
*.secret
*.key
*.pem

